#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0eda4;
  margin: 0;

  #container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .image {
      margin-right: 30px;
    }
    .pageName {
      color: #25857d;
    }
  }
  .userName {
    margin-right: 20px;
    color: #25857d;
    p {
      margin: 0;
    }
  }

  .navigation {
    a {
      text-decoration: none;
      color: #25857d;
      margin-right: 10px;
      &.selected {
        font-weight: bold;
      }
    }
  }

  app-logout {
    margin-left: auto;
  }
}
