<header id="header">
  <div id="image">
    <img class="image" src="../../../assets/logo.svg" alt="" />
  </div>
  <div class="userName">
    <p>{{user}}</p>
  </div>
  <div>
    <nav class="navigation">
      <a routerLink="/dashboard" routerLinkActive="selected">Dashboard</a>
      <a routerLink="/galery" routerLinkActive="selected">Galery</a>
      <a routerLink="/crud" routerLinkActive="selected">CRUD</a>
      <a routerLink="/profile" routerLinkActive="selected">Profile</a>
    </nav>
  </div>
  <app-logout></app-logout>
</header>
