.detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 15px;
  background-color: #dbfcf6;
  border-radius: 7px;
  width: 30%;
  color: rgb(31, 115, 200);
  border: 1px solid rgb(39, 134, 229);
}

.detail-container .MuiTypography-root {
  margin-bottom: 10px;
}

.detail-container .MuiAvatar-root {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.detail-container .MuiButton-root {
  margin-top: 5px;
}
