$principal-color: rgb(236, 236, 151);
$font-size:20px;
$font-family: Arial, Helvetica, sans-serif;
// $
div > p {
  display: flex;
  font-family: $font-family;
  background-color: $principal-color;
  font-size: $font-size;
  padding: 20px;
  width: 200px;
  justify-content: center;
  border: 2px solid rgb(18, 17, 17);
}
