#header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #f0eda4;

  #container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    .image {
      margin-right: 30px;
    }
    .pageName {
      color: #25857d;
    }
  }

  .navigation {
    a {
      text-decoration: none;
      color: #25857d;
      margin-right: 10px;
      &.selected {
        font-weight: bold;
      }
    }
  }
}
