$primary-color: red;
$secondary-color: rgb(129, 14, 14);
$ternary-color: rgb(238, 157, 157);
$principal-font: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial;
$secondary-font: Comic Sans MS;
$shadow: -7px 7px 7px 2px rgb(50, 46, 46);
