$primary-color: blue;
$secondary-color: navy;
$ternary-color: turquoise;
$principal-font: "Times New Roman", Times, serif;
$secondary-font: "Times New Roman", Times, serif;
$shadow: 7px 7px 7px 2px rgb(50, 46, 46);
